html {
    font-size: 22px;
    font-family: Neuton;
    font-weight: 500;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('./images/je-vais-le-faire-un-jour-promis.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

section {
    padding: 50px;
    background-color: hsla(360, 255%, 255%, 0.9);
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}